<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Chat - Name</title>
  </head>
  <body>
    <form action="/livechat" method="get">
      <h2>Enter your name here:</h2>
      Your Name: <input type="text" name="name" />
      <h2>Enter your friend's name:</h2>
      Friend's Name: <input type="text" name="clientname">
      <br>
      <br>
      <button type="submit">Enter Live Chat</button>
    </form>
  </body>
</html>
